
.icon-montanas-(1):before { content: '\e800'; } /* '' */
.icon-tomar-foto:before { content: '\e801'; } /* '' */
.icon-Lavanderia:before { content: '\e802'; } /* '' */
.icon-cliente:before { content: '\e803'; } /* '' */
.icon-gestionar-lugares:before { content: '\e804'; } /* '' */
.icon-blog:before { content: '\e805'; } /* '' */
.icon-noticias:before { content: '\e806'; } /* '' */
.icon-testimonios:before { content: '\e807'; } /* '' */
.icon-usuario:before { content: '\e808'; } /* '' */
.icon-ajustes:before { content: '\e809'; } /* '' */
.icon-sistem-log:before { content: '\e80a'; } /* '' */
.icon-lugarw:before { content: '\e80b'; } /* '' */
.icon-inicio:before { content: '\e80c'; } /* '' */
.icon-sub-categoria:before { content: '\e80d'; } /* '' */
.icon-comentarios:before { content: '\e80e'; } /* '' */
.icon-ciudades:before { content: '\e80f'; } /* '' */
.icon-publicaciones:before { content: '\e810'; } /* '' */
.icon-socia-media:before { content: '\e811'; } /* '' */
.icon-tipos-lugar:before { content: '\e812'; } /* '' */
.icon-categoria-blog:before { content: '\e813'; } /* '' */
.icon-link:before { content: '\e814'; } /* '' */
.icon-notificacion:before { content: '\e815'; } /* '' */
.icon-servicios:before { content: '\e816'; } /* '' */
.icon-monedas:before { content: '\e817'; } /* '' */
.icon-roles:before { content: '\e818'; } /* '' */
.icon-idioma:before { content: '\e819'; } /* '' */
.icon-archivo-de-musica:before { content: '\e81a'; } /* '' */
.icon-admin-archivos:before { content: '\e81b'; } /* '' */
.icon-alt-de-region:before { content: '\e81c'; } /* '' */
.icon-festividades:before { content: '\e81d'; } /* '' */
.icon-alt-de-region-1:before { content: '\e81e'; } /* '' */
.icon-hotel:before { content: '\e81f'; } /* '' */
.icon-turisticos:before { content: '\e820'; } /* '' */
.icon-rutas:before { content: '\e821'; } /* '' */
.icon-urna-boleta:before { content: '\e822'; } /* '' */
.icon-restaurante:before { content: '\e823'; } /* '' */
.icon-sitios:before { content: '\e824'; } /* '' */
.icon-auriculares-de-usuario:before { content: '\e825'; } /* '' */
.icon-contenido:before { content: '\e826'; } /* '' */
.icon-marcador-de-mapa:before { content: '\e827'; } /* '' */
.icon-sistema-solar:before { content: '\e828'; } /* '' */
.icon-servicios-1:before { content: '\e829'; } /* '' */
.icon-parque-de-tematicos:before { content: '\e82a'; } /* '' */
.icon-arqueologia:before { content: '\e82b'; } /* '' */
.icon-jpg:before { content: '\e82c'; } /* '' */
.icon-parque-acuatico:before { content: '\e82d'; } /* '' */
.icon-libro-circulo-flecha-derecha:before { content: '\e82e'; } /* '' */
.icon-mercados-artesanales:before { content: '\e82f'; } /* '' */
.icon-campings:before { content: '\e830'; } /* '' */
.icon-reservar-mas:before { content: '\e831'; } /* '' */
.icon-respuesta:before { content: '\e832'; } /* '' */
.icon-salario-alternativo:before { content: '\e833'; } /* '' */
.icon-telefono-giratorio:before { content: '\e834'; } /* '' */
.icon-oficina-de-turismo:before { content: '\e835'; } /* '' */
.icon-archivo-csv:before { content: '\e836'; } /* '' */
.icon-archivo-excel:before { content: '\e837'; } /* '' */
.icon-archivo-pdf:before { content: '\e838'; } /* '' */
.icon-archivo-de-powerpoint:before { content: '\e839'; } /* '' */
.icon-cremallera-de-archivo:before { content: '\e83a'; } /* '' */
.icon-fax:before { content: '\e83b'; } /* '' */
.icon-llamada-entrante:before { content: '\e83c'; } /* '' */
.icon-tty:before { content: '\e83d'; } /* '' */
.icon-reserva-de-telefono-inteligente-:before { content: '\e83e'; } /* '' */
.icon-web-site:before { content: '\e83f'; } /* '' */
.icon-redes-sociales:before { content: '\e840'; } /* '' */
.icon-alt-de-region-2:before { content: '\e841'; } /* '' */
.icon-primavera-calurosa:before { content: '\e842'; } /* '' */
.icon-directorio:before { content: '\e843'; } /* '' */
.icon-guia-informativa:before { content: '\e844'; } /* '' */
.icon-legal:before { content: '\e845'; } /* '' */
.icon-comprador-de-tienda:before { content: '\e846'; } /* '' */
.icon-casinos:before { content: '\e847'; } /* '' */
.icon-club-nocturno:before { content: '\e848'; } /* '' */
.icon-libro-atlas:before { content: '\e849'; } /* '' */
.icon-aeropuertos:before { content: '\e84a'; } /* '' */
.icon-autobus-taxi:before { content: '\e84b'; } /* '' */
.icon-sinagoga:before { content: '\e84c'; } /* '' */
.icon-alquiler-de-bicicletas:before { content: '\e84d'; } /* '' */
.icon-ubicacion-del-terreno:before { content: '\e84e'; } /* '' */
.icon-arbol-de-la-casa:before { content: '\e84f'; } /* '' */
.icon-cicla:before { content: '\e850'; } /* '' */
.icon-visitas-a-museos:before { content: '\e851'; } /* '' */
.icon-participación-en-festivales-locales:before { content: '\e852'; } /* '' */
.icon-espectáculos-de-musica-y-danza:before { content: '\e853'; } /* '' */
.icon-zoo:before { content: '\e854'; } /* '' */
.icon-entrada-de-cine:before { content: '\e855'; } /* '' */
.icon-tours-a-pie:before { content: '\e856'; } /* '' */
.icon-servicio-de-habitacion-1:before { content: '\e857'; } /* '' */
.icon-viaje-en-bicicleta:before { content: '\e858'; } /* '' */
.icon-meditación-y-yoga:before { content: '\e859'; } /* '' */
.icon-campamento:before { content: '\e85a'; } /* '' */
.icon-ficha-de-poker:before { content: '\e85b'; } /* '' */
.icon-el-verano:before { content: '\e85c'; } /* '' */
.icon-areas-de-juegos-infantiles:before { content: '\e85d'; } /* '' */
.icon-gastronomo:before { content: '\e85e'; } /* '' */
.icon-spa-centros-de-bienestar:before { content: '\e85f'; } /* '' */
.icon-parques-de-aventuras:before { content: '\e860'; } /* '' */
.icon-visitas-a-parques-tematicos:before { content: '\e861'; } /* '' */
.icon-alojamiento:before { content: '\e862'; } /* '' */
.icon-actividades:before { content: '\e863'; } /* '' */
.icon-bares-y-discotecas:before { content: '\e864'; } /* '' */
.icon-buceo:before { content: '\e865'; } /* '' */
.icon-Masajes:before { content: '\e866'; } /* '' */
.icon-deporte-acuatico:before { content: '\e867'; } /* '' */
.icon-llamada-telefonica:before { content: '\e868'; } /* '' */
.icon-Licorera:before { content: '\e869'; } /* '' */
.icon-bola-de-disco:before { content: '\e86a'; } /* '' */
.icon-Panaderia:before { content: '\e86b'; } /* '' */
.icon-ice-cream-shop:before { content: '\e86c'; } /* '' */
.icon-banos-termales:before { content: '\e86d'; } /* '' */
.icon-Transporte:before { content: '\e86e'; } /* '' */
.icon-bano-solid:before { content: '\e86f'; } /* '' */
.icon-Visitas-guiadas:before { content: '\e870'; } /* '' */
.icon-atractivos-naturales:before { content: '\e871'; } /* '' */
.icon-parques-naturales:before { content: '\e872'; } /* '' */
.icon-senderismo:before { content: '\e873'; } /* '' */
.icon-cama:before { content: '\e874'; } /* '' */
.icon-mensajes:before { content: '\e875'; } /* '' */
.icon-bano:before { content: '\e876'; } /* '' */
.icon-caja-de-paracaidas:before { content: '\e877'; } /* '' */
.icon-agua:before { content: '\e878'; } /* '' */
.icon-signo-de-persona:before { content: '\e879'; } /* '' */
.icon-servicio-al-cliente:before { content: '\e87a'; } /* '' */
.icon-festivales-y-eventos-culturales:before { content: '\e87b'; } /* '' */
.icon-esqui:before { content: '\e87c'; } /* '' */
.icon-actividades-al-aire-libre:before { content: '\e87d'; } /* '' */
.icon-ciudades-turismo-meta:before { content: '\e87e'; } /* '' */
.icon-tazon-palillos-fideos:before { content: '\e87f'; } /* '' */
.icon-meditacion:before { content: '\e880'; } /* '' */
.icon-sobres:before { content: '\e881'; } /* '' */
.icon-pin-de-region:before { content: '\e882'; } /* '' */
.icon-distribuidores:before { content: '\e883'; } /* '' */
.icon-gestionar-lugares-1:before { content: '\e884'; } /* '' */
.icon-viaje-en-coche:before { content: '\e885'; } /* '' */
.icon-cocina:before { content: '\e886'; } /* '' */
.icon-sistema-de-discapacidad-auditiva:before { content: '\e887'; } /* '' */
.icon-deportes-de-aventura:before { content: '\e888'; } /* '' */
.icon-caja-de-recogida:before { content: '\e889'; } /* '' */
.icon-element-type:before { content: '\e88a'; } /* '' */
.icon-Items:before { content: '\e88b'; } /* '' */
.icon-Climate:before { content: '\e88c'; } /* '' */
.icon-restaurant-typology:before { content: '\e88d'; } /* '' */
.icon-iniciar-sesion-alt:before { content: '\e88e'; } /* '' */
.icon-Payment:before { content: '\e88f'; } /* '' */
.icon-Township/village/Loca:before { content: '\e890'; } /* '' */
.icon-state-of-attractiveness:before { content: '\e891'; } /* '' */
.icon-Type-of-Assets:before { content: '\e892'; } /* '' */
.icon-destination:before { content: '\e893'; } /* '' */
.icon-Components:before { content: '\e894'; } /* '' */
.icon-Cluster:before { content: '\e895'; } /* '' */
.icon-Meals:before { content: '\e896'; } /* '' */
.icon-corazon:before { content: '\e897'; } /* '' */
.icon-nube-sol:before { content: '\e899'; } /* '' */
.icon-usuario-1:before { content: '\e89c'; } /* '' */
.icon-rates:before { content: '\e8a0'; } /* '' */
.icon-rafting:before { content: '\e8a8'; } /* '' */
.icon-preferencia:before { content: '\e8a9'; } /* '' */
.icon-talleres:before { content: '\e8b8'; } /* '' */
.icon-change-password:before { content: '\e8ba'; } /* '' */
.icon-cerrar-sesion:before { content: '\e8bb'; } /* '' */
.icon-sala-de-conferencias:before { content: '\e8bc'; } /* '' */
.icon-editar-preferencias:before { content: '\e8bd'; } /* '' */
.icon-inicio-1:before { content: '\e8be'; } /* '' */
.icon-alfiler-de-mapa:before { content: '\e8bf'; } /* '' */
.icon-mis-lugares-visitados:before { content: '\e8c0'; } /* '' */
.icon-editar-perfil:before { content: '\e8c1'; } /* '' */
.icon-actividades-menu:before { content: '\e8c2'; } /* '' */
.icon-Cursos:before { content: '\e8c3'; } /* '' */
.icon-tipo-evento:before { content: '\e8c4'; } /* '' */
.icon-tipo-evento-1:before { content: '\e8c5'; } /* '' */
.icon-banner:before { content: '\e8c6'; } /* '' */
.icon-place-opeators:before { content: '\e8c7'; } /* '' */
.icon-tipos-lugar-1:before { content: '\e8c9'; } /* '' */
.icon-exportar:before { content: '\e8ca'; } /* '' */
.icon-gasolina:before { content: '\e8cb'; } /* '' */
.icon-gimnasio:before { content: '\e8cc'; } /* '' */
.icon-asistencia-medica:before { content: '\e8d1'; } /* '' */
.icon-Sala-de-Reuniones:before { content: '\e8d2'; } /* '' */
.icon-snorkel:before { content: '\e8d4'; } /* '' */
.icon-access:before { content: '\e8da'; } /* '' */
.icon-Agencia-de-viajes:before { content: '\e8df'; } /* '' */
.icon-calendario-Inicio:before { content: '\e8e0'; } /* '' */
.icon-calendario-final:before { content: '\e8e1'; } /* '' */
.icon-category:before { content: '\e8e2'; } /* '' */
.icon-attractive-promotions:before { content: '\e8e3'; } /* '' */
.icon-access-type:before { content: '\e8e4'; } /* '' */
.icon-Sistema-de-Invidentes:before { content: '\e8e5'; } /* '' */
.icon-geographical-coverage:before { content: '\e8e6'; } /* '' */
.icon-genero:before { content: '\e8e7'; } /* '' */
.icon-problem-behavior:before { content: '\e8e8'; } /* '' */
.icon-emotional-state-ehavior:before { content: '\e8e9'; } /* '' */
.icon-session-problem-type:before { content: '\e8ec'; } /* '' */
.icon-vehicles-for-people-with-reduced-mobility:before { content: '\e8ed'; } /* '' */
.icon-Elementos-de-Movilidad:before { content: '\e8ee'; } /* '' */
.icon-ascensor:before { content: '\e8ef'; } /* '' */
.icon-puerta-abierta:before { content: '\e8f0'; } /* '' */
.icon-Baños:before { content: '\e8f2'; } /* '' */
.icon-rampa-de-carga:before { content: '\e8f3'; } /* '' */
.icon-comida-para--llevar:before { content: '\e8f4'; } /* '' */
.icon-password-lock:before { content: '\e8f5'; } /* '' */
.icon-logout:before { content: '\e8f6'; } /* '' */
.icon-session-location:before { content: '\e8f9'; } /* '' */
.icon-seo:before { content: '\e8fa'; } /* '' */
.icon-emotional-state-type:before { content: '\e8fb'; } /* '' */
.icon-type-session:before { content: '\e8fc'; } /* '' */
.icon-transaction:before { content: '\e8fd'; } /* '' */
.icon-nosotros:before { content: '\e8fe'; } /* '' */
.icon-iglesias-y-templos:before { content: '\e8ff'; } /* '' */
.icon-deportes-acuaticos :before { content: '\e900'; } /* '' */
.icon-mercados-comida:before { content: '\e901'; } /* '' */
.icon-bodega-vinedos:before { content: '\e902'; } /* '' */
.icon-centros-comerciales:before { content: '\e903'; } /* '' */
.icon-tiendas-de-souvenirs:before { content: '\e904'; } /* '' */
.icon-bienestar-y-spa:before { content: '\e905'; } /* '' */
.icon-atractivos-culturales:before { content: '\e906'; } /* '' */
.icon-casas-rurales:before { content: '\e907'; } /* '' */
.icon-guias-turísticos:before { content: '\e908'; } /* '' */
.icon-restaurantes:before { content: '\e909'; } /* '' */
.icon-alquiler-de-coches:before { content: '\e90a'; } /* '' */
.icon-correr:before { content: '\e90b'; } /* '' */
.icon-teatros-y-cines:before { content: '\e90c'; } /* '' */
.icon-spas-y-centros-de-bienestar:before { content: '\e90d'; } /* '' */
.icon-transporte:before { content: '\e90e'; } /* '' */
.icon-estantes:before { content: '\e90f'; } /* '' */
.icon-hoguera:before { content: '\e910'; } /* '' */
.icon-litera:before { content: '\e911'; } /* '' */
.icon-autobus-alternativo:before { content: '\e912'; } /* '' */
.icon-cafeteria:before { content: '\e913'; } /* '' */
.icon-galleta-alternativa:before { content: '\e914'; } /* '' */
.icon-hamburguesa-con-queso:before { content: '\e915'; } /* '' */
.icon-pastelito-alternativo:before { content: '\e916'; } /* '' */
.icon-pesca:before { content: '\e917'; } /* '' */
.icon-conciertos-y-espectáculos:before { content: '\e918'; } /* '' */
.icon-exploración-de-ruinas-y-sitios-arqueologicos:before { content: '\e919'; } /* '' */
.icon-parques-nacionales:before { content: '\e91a'; } /* '' */
.icon-motocicleta:before { content: '\e91b'; } /* '' */
.icon-luna-de-la-estacion-espacial:before { content: '\e91c'; } /* '' */
.icon-correr-1:before { content: '\e91d'; } /* '' */
.icon-pescado-cocido:before { content: '\e91e'; } /* '' */
.icon-silla-de-montar:before { content: '\e91f'; } /* '' */
.icon-atractivos-recreativos:before { content: '\e920'; } /* '' */
.icon-tanque-de-agua:before { content: '\e921'; } /* '' */
.icon-tejido-de-punto:before { content: '\e922'; } /* '' */
.icon-vaca-alternativa:before { content: '\e923'; } /* '' */
.icon-tranvia:before { content: '\e924'; } /* '' */
.icon-aplausos-de-cristal:before { content: '\e925'; } /* '' */
.icon-lavadora:before { content: '\e926'; } /* '' */
.icon-pata:before { content: '\e927'; } /* '' */
.icon-gastronomia:before { content: '\e928'; } /* '' */
.icon-bares-y-cafeterias-1:before { content: '\e929'; } /* '' */
.icon-piscina:before { content: '\e92a'; } /* '' */
.icon-cabina:before { content: '\e92b'; } /* '' */
.icon-wifi:before { content: '\e92c'; } /* '' */
.icon-senal-de-la-casa:before { content: '\e92d'; } /* '' */
.icon-bodas:before { content: '\e92e'; } /* '' */
.icon-aire-acondicionado:before { content: '\e92f'; } /* '' */
.icon-coche-de-garaje:before { content: '\e930'; } /* '' */
.icon-prohibicion-de-fumar:before { content: '\e931'; } /* '' */
.icon-compras:before { content: '\e932'; } /* '' */
.icon-hostales:before { content: '\e933'; } /* '' */
.icon-playa-de-sombrilla:before { content: '\e934'; } /* '' */
.icon-cascadas:before { content: '\e935'; } /* '' */
.icon-museos:before { content: '\e936'; } /* '' */
.icon-monumentos-historicos:before { content: '\e937'; } /* '' */
.icon-iglesia:before { content: '\e938'; } /* '' */
.icon-bares-y-cafeterias:before { content: '\e939'; } /* '' */
.icon-icon-espectaculos:before { content: '\e93a'; } /* '' */
.icon-juego-de-cocina:before { content: '\e93b'; } /* '' */
.icon-ensalada:before { content: '\e93d'; } /* '' */
.icon-piscina-jacuzzis:before { content: '\e93e'; } /* '' */
