.texture-overlay svg{
    width: 300px;
}
.texture-overlay .cls-1, .texture-overlay .cls-2, .texture-overlay .cls-3,.texture-overlay .cls-4, .texture-overlay .cls-5, .texture-overlay .cls-6 {
    fill: #eff9ff;
}

.nearby-title-section{
    background-color: #ffffff5c;
    backdrop-filter: blur(5px);
    width: fit-content;
}
.btn-cities {
    color: #fff !important;
    background-color: #0070ab !important;
    border-color: #0070ab !important;
}
.btn-cities:hover{
    color: #fff;
    background-color: #2cc7ff !important;
    border-color: #2cc7ff !important;
}
.btn-cities.active{
    color: #fff;
    background-color: #2cc7ff !important;
    border-color: #2cc7ff !important;
}
.border-map {
    border-radius: 2rem;
    height: 800px !important;
    width: 100%;
}

.btn-cities.active::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #2cc7ff transparent transparent transparent;
    width: 0;
    height: 0;
}
