
.icon-pin-de-region:before { content: '\e800'; } /* '' */
.icon-tomar-foto:before { content: '\e801'; } /* '' */
.icon-distribuidores:before { content: '\e802'; } /* '' */
.icon-cliente:before { content: '\e803'; } /* '' */
.icon-gestionar-lugares:before { content: '\e804'; } /* '' */
.icon-blog:before { content: '\e805'; } /* '' */
.icon-noticias:before { content: '\e806'; } /* '' */
.icon-testimonios:before { content: '\e807'; } /* '' */
.icon-usuario:before { content: '\e808'; } /* '' */
.icon-ajustes:before { content: '\e809'; } /* '' */
.icon-sistem-log:before { content: '\e80a'; } /* '' */
.icon-lugarw:before { content: '\e80b'; } /* '' */
.icon-inicio:before { content: '\e80c'; } /* '' */
.icon-sub-categoria:before { content: '\e80d'; } /* '' */
.icon-comentarios:before { content: '\e80e'; } /* '' */
.icon-ciudades:before { content: '\e80f'; } /* '' */
.icon-publicaciones:before { content: '\e810'; } /* '' */
.icon-socia-media:before { content: '\e811'; } /* '' */
.icon-tipos-lugar:before { content: '\e812'; } /* '' */
.icon-categoria-blog:before { content: '\e813'; } /* '' */
.icon-link:before { content: '\e814'; } /* '' */
.icon-notificacion:before { content: '\e815'; } /* '' */
.icon-servicios:before { content: '\e816'; } /* '' */
.icon-monedas:before { content: '\e817'; } /* '' */
.icon-roles:before { content: '\e818'; } /* '' */
.icon-idioma:before { content: '\e819'; } /* '' */
.icon-admin-archivos:before { content: '\e81b'; } /* '' */
.icon-alt-de-region:before { content: '\e81c'; } /* '' */
.icon-festividades:before { content: '\e81d'; } /* '' */
.icon-alt-de-region-1:before { content: '\e81e'; } /* '' */
.icon-hotel:before { content: '\e81f'; } /* '' */
.icon-rutas:before { content: '\e821'; } /* '' */
.icon-restaurante:before { content: '\e823'; } /* '' */
.icon-sitios:before { content: '\e824'; } /* '' */
.icon-contenido:before { content: '\e826'; } /* '' */
.icon-marcador-de-mapa:before { content: '\e827'; } /* '' */
.icon-sistema-solar:before { content: '\e828'; } /* '' */
