@font-face{
    font-family: "Cafe24 Danjunghae";
    src: url("781424903060cfedd30654656cb06ee2.eot");
    src: url("781424903060cfedd30654656cb06ee2.eot?#iefix") format("embedded-opentype"),
    url("781424903060cfedd30654656cb06ee2.woff") format("woff"),
    url("781424903060cfedd30654656cb06ee2.woff2") format("woff2"),
    url("781424903060cfedd30654656cb06ee2.ttf") format("truetype"),
    url("781424903060cfedd30654656cb06ee2.svg#Cafe24 Danjunghae") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
